@font-face {
    font-family: 'CustomPFont';
    src: url('P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(1, 64, 255, 0.7), rgba(1, 64, 255, 0.7)), url('B.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: #0140ff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'CustomPFont', sans-serif;
    font-size: 80px;
    color: white;
    text-shadow: none;
    margin-bottom: 15px;
    letter-spacing: 5px;
}

p a {
    font-family: 'CustomPFont', sans-serif;
    color: blue;
    font-size: 32px;
    text-decoration: underline;
    text-shadow: none;
}

p a:hover {
    color: darkblue;
    text-decoration: underline;
}